/* .catagory{
height: 350px;
/* width: 350px; 
 width: 100%;
background-color: white;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
} */
.catagory {
  height: 350px;
  width: 100%; /* take full width of grid cell */
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
/* padding-left: 20px; */
}

/* .catagory img{
width: 100%;
object-fit: contain;
max-height: 250px;
padding: 0px 10px;
justify-content: space-between;
} */
.catagory img {
  width: 90%;
  height: 250px;          /* force image height */
  object-fit: contain;    /* keep aspect ratio, no overflow */
  padding: 0 10px;
  display: block;         /* remove inline extra spacing */
  margin: 0 auto;         /* center horizontally */
}

.catagory a{
text-decoration: none;
color: rgb(35, 35, 35)
}
.catagory h2,
.catagory p{
padding: 5px;
margin-left: 15px;
}
.catagory p{
font-size: 12px;
font-weight: bold;
color: rgb(9, 132, 209);
}
/* .catagory__container{
position: relative;
margin-top: -10%;
display: grid;
grid-template-columns: repeat(4,1fr);
place-items: center;
gap: 20px;
} */

.catagory__container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;   
padding-left: 30px;
padding-right: 30px;
}

