.container {
  display: flex;
justify-content: center;
  gap: 4px;
  margin-top: 60px;
margin-left: 80px;

}
.container img{
width: 200px !important;
justify-content: center;
}
.container div:not(.subtotal){
height: auto !important;
}
.cart_container {
  padding: 20px;
}
.cart_container h2,
.cart_container h3 {
  padding: 10px;
margin-top: 20px;
}
.cart_container hr {
  margin: 10px;
}
.subtotal {
margin-top: 60px;
margin-right: 60px;
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}
.subtotal a {
  text-align: center;
  width: 100%;
  border: none;
  background-color: #febd69;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
.subtotal a:hover {
  background-color:#d49644;
}
.subtotal > div,
.subtotal span {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 968px) {
  .container {
    flex-direction: column;
    order: 1;
  }
}
